@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
 font-family: "Shadows Into Light", sans-serif;
}

body {
    background-image: url(./img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #adc1c2;
}

footer {
    text-align: end;
}

@media screen and (max-width: 980px) {
    body {
        background-image: url(./img/bg_sm.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #adc1c2;
    }
}