@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prosto+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: linear-gradient(0.25turn, #485f78, #678bac, transparent),
      no-repeat center;
    background-size: cover;
  }

  footer {
    text-align: end;
  }

  button {
    box-shadow: 0 2px #999;
    position: relative;
  }

  button:hover {
    background-color: rgb(42, 48, 54);
  }

  button:active {
    background-color: rgb(42, 48, 54);
    box-shadow: none;
    top: 1px;
    left: 1px;
  }
  input[type="submit"] {
    box-shadow: 0 2px #999;
  }

  input[type="submit"]:hover {
    background-color: rgb(42, 48, 54);
  }

  input[type="submit"]:active {
    background-color: rgb(42, 48, 54);
    box-shadow: 0 1px rgb(65, 74, 83);
    transform: translateY(2px);
  }
}

@layer components {
  .invert {
    -webkit-filter: invert(0.75);
    filter: invert(0.75);
  }
  .display-results {
    background-color: #7395ba;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #485f78;
    margin: 0 auto;
  }

  .dot {
    animation: bounce 0.5s infinite alternate;
  }

  .dot:nth-child(2) {
    animation-delay: 100ms;
  }

  .dot:nth-child(3) {
    animation-delay: 200ms;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #e7e7e712;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #32366d;
  }
}

@keyframes bounce {
  100% {
    translate: 0 10px;
  }
}
